.about {
	margin-top: 205px;
}

.about-cont {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #E0E0E0;
}

.about-cont-title {
	width: 492px;
}

.about-cont-img {
	margin-bottom: 90px;
}

.about-cont-title h2 {
	font-size: 36px;
	font-family: "Montserrat-Bold";
	color: #323232;
}

.about-cont-title p {
	color: #999999;
	font-family: "Montserrat-Regular";
	line-height: 25.36px;
}

.about-cont-title a {
	color: #4985FF;
	line-height: 19.5px;
}

.about-cont-pr-img-num span{
	font-size: 36px;
	margin-left: 17px;
}

.about-cont-pr-img-num img {
	width: 30px;
	height: 30px;
}

.about-cont-pt-title h5{
	font-size: 16px;
	color: #999999;
	margin: 17px 0;
}

.about-our_projects {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 70px 40px 70px 40px; 
}